body {
    margin: 0;
    background-color: #779;
}
a {
    text-decoration: none;
}

header {
    font-size: 2em;
    background-color: #ccf;
    color: #77c;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
header img {
    padding: 0.25em;
}
section {
    font-size: 1em;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #ddf;
    color: #556;
    margin: 10%;
    margin-top: 3em;
    margin-bottom: 1em;
    padding: 2em;
    border-radius: 1em;
}
header .lemme-in {
    float: right;
    padding: 0.25em;
    margin: 0.25em;
    font-size: 0.75em;
    background-color: #559;
    color: #99f;
    border-radius: 0.25em;
}
.notice  {
    display: none;
    background-color: #fdd;
    color: #d55;
}
.notice h1, h2, h3, h4, h5, h6 {
    color: #f55;
}
section h1, h2, h3, h4, h5, h6 {
    color: #77f;
}
dialog {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: #bbf;
    color: #559;
    text-align: center;
    margin-top: 16em;
    border-style: none;
    border-radius: 1em;
    max-width: 24em;
    display: none;
    opacity: 0;
    animation-duration: 0.5s;
    animation-name: dodialogshow;
    animation-play-state: paused;
}

dialog .lemme-in {
    padding: 1em;
    margin: 2em 8em;
    max-width: 8em;
    font-size: 1em;
    background-color: #559;
    color: #99f;
    border-radius: 0.25em;
}

@keyframes dodialogshow {
    0% { opacity: 0; }
    100% { opacity: 1; }
}
@keyframes dodialoghide {
    0% { opacity: 1; }
    100% { opacity: 0; }
}